@model List<Fiap.Exemplo02.MVC.Web.Models.Aluno>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Bolsa</th>
            <th>Desconto</th>
         </tr>
    </thead>
    <tbody>
        @foreach (var aluno in Model)
            {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               
            </tr>
        }
    </tbody>
</table>